
.scrolly {
  height: 420px;
  overflow: scroll
}

#background {

}

body {
  background-image: url(http://wallpaper-gallery.net/images/music-wallpaper/music-wallpaper-11.jpg);
  background-size: 100%;
}
